html {
  background-color: #ccc;
  margin: 20px;
  padding: 20px;
}

body {
  background-color: #888;
  box-shadow: 0 0 25px #222;
  border-radius: 20px;
  margin: 0 auto;
  padding: 20px 10px 20px 10px;
  width: 50%;
}

#calculator {
  text-align: center;

  .result {
    margin-bottom: 10px;
    text-align: center;
    input {
      text-align: right;
      width: 130px;
    }
  }

  .row {

  }

  .calculator-button {
    display: inline-block;
    margin: 2px;
    overflow: hidden;

    button {
      height: 24px;
      left: -2px;
      margin: 0;
      padding: 5px;
      position: relative;
      top: -2px;
      width: 30px;
      span {
        position: relative;
        top: -1px;
      }
    }
  }

}
