<div {{bind-attr class=":wrapper fancy:fancy:"}}>
  <div id="calculator">
    <div class="result">
      <input placeholder="" {{bind-attr value="result"}}>
    </div>
    <div class="space"></div>
    <div class="keypad">
      {{outlet}}
    </div>
  </div>
</div>
