<div class="row">
  {{calculator-button symbol="+" value="+" action="buttonClicked"}}
  {{calculator-button symbol="-" value="-" action="buttonClicked"}}
  {{calculator-button symbol="&#x00D7;" value="x" action="buttonClicked"}}
  {{calculator-button symbol="&#xF7;" value="d" action="buttonClicked"}}
</div>

