<div class="row">
  {{calculator-button symbol="+" value="+" action="operationButtonClicked"}}
  {{calculator-button symbol="-" value="-" action="operationButtonClicked"}}
  {{calculator-button symbol="&#x00D7;" value="x" action="operationButtonClicked"}}
  {{calculator-button symbol="&#xF7;" value="d" action="operationButtonClicked"}}
</div>

